* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  min-width: 537px;
  min-height: 275px;

  padding: 15px;

  background: #ffffff;
  border-radius: 27px;
  box-shadow: 5px 10px 27px rgb(64, 137, 233);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  margin: 0 auto;
}

input {
  width: 100%;

  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(64, 137, 233);

  margin: 10px auto;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  border: none;

  background: rgb(64, 137, 233);
  color: #ffffff;
  border-radius: 10px;

  cursor: pointer;
  transition: 0.5s all;
}

button:hover {
  background-color: aqua;
  color: black;
}

.error {
  color: red;
  font-size: 1rem;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
